.delete-dialog {
  text-align: center;
  padding: 16px;
}

.delete-dialog-title {
  margin-bottom: 16px;
}

.delete-dialog-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

/*.delete-button {*/
/*  background-color: #e12233;*/
/*  color: white;*/
/*}*/

/*.cancel-button {*/
/*  background-color: #8e3fa9;*/
/*  color: white;*/
/*}*/
