
button {
  background-color: #6f5f90;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  width: auto;
  margin: auto;
}

h2 {
  color: #6f5f90;
  text-align: center;
}

mat-form-field{
  width: 100%;
}
