<div class="registerForm">
  <h1>{{ 'ADD_CAMPAIGN_FORM.ADD_CAMPAIGN' | translate }}</h1>
  <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSave($event)">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="{{ 'ADD_CAMPAIGN_FORM.NAME' | translate }}" formControlName="name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="{{ 'ADD_CAMPAIGN_FORM.PURPOSE' | translate }}" formControlName="purpose">
    </mat-form-field>
    <div class="form-button">
      <p>{{ 'ADD_CAMPAIGN_FORM.COMPLETE_FORM_NOTE' | translate }}</p>
      <br>
      <button mat-raised-button disabled type="submit" [disabled]="!registerForm.valid">{{ 'ADD_CAMPAIGN_FORM.SUBMIT' | translate }}</button>
    </div>
  </form>
</div>
