<div class="registerForm">
  <h1>{{ 'EDIT_DONOR_PAGE.EDIT_DONOR' | translate }}</h1>
  <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSave($event)">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="{{ 'EDIT_DONOR_PAGE.FIRST_NAME' | translate }}" formControlName="firstname">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="{{ 'EDIT_DONOR_PAGE.LAST_NAME' | translate }}" formControlName="lastname">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="{{ 'EDIT_DONOR_PAGE.ADDITIONAL_NAME' | translate }}" formControlName="additionalName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="{{ 'EDIT_DONOR_PAGE.MAIDEN_NAME' | translate }}" formControlName="maidenName">
    </mat-form-field>
    <div class="form-button">
      <p>{{ 'EDIT_DONOR_PAGE.COMPLETE_FORM_MESSAGE' | translate }}</p>
      <br>
      <button mat-raised-button disabled type="submit" [disabled]="!registerForm.valid">
        {{ 'EDIT_DONOR_PAGE.SAVE_BUTTON' | translate }}
      </button>
    </div>
  </form>
</div>
