<div class="mijl">
  <h2 mat-dialog-title>Password Change</h2>
  <br>
<div mat-dialog-content>
  <form [formGroup]="passwordChangeForm">
    <mat-form-field>
      <input matInput type="password" placeholder="Old Password" formControlName="oldPassword">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="New Password" formControlName="newPassword">
      <mat-icon matSuffix matTooltip="Your password must contain at least 1 capital letter, one digit and have a length of at least 6 characters ">info</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm New Password" formControlName="confirmNewPassword">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [disabled]="passwordChangeForm.invalid" (click)="onChangePassword()">Change Password</button>
</div>
</div>
