<div class="delete-dialog">
  <h2 class="delete-dialog-title">{{ 'CUSTOM_DELETE_DIALOG.CONFIRM_DELETE' | translate }}</h2>
  <div class="delete-dialog-buttons">
    <button mat-button class="delete-button" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
      {{ 'CUSTOM_DELETE_DIALOG.DELETE' | translate }}
    </button>
    <button mat-button class="cancel-button" (click)="onCancel()">
      <mat-icon>cancel</mat-icon>
      {{ 'CUSTOM_DELETE_DIALOG.CANCEL' | translate }}
    </button>
  </div>
</div>
